
<footer class="mt-auto py-3 dark-bg col bg-black text-white">
        <h6 class="m-0 text-center text-white">Powered by Devwear Apparrel LTD</h6><br>
            <div class="row">
                <div class="col-12 col-md-6">
                    <h5>Social</h5>
                    <p>Keep up to date with all our latest offers</p>
                    <a href="https://www.facebook.com/profile.php?id=61553925042570" target="_blank"><i class="fab fa-facebook-square"></i> Follow us on Facebook!</a>
                </div>
                <div class="col-12 col-md-6">
                    <h5>Subscribe For Discount! <i class="fa-regular fa-envelope"></i></h5>
                    <p>Get exclusive offers and discount codes by subscribing to our monthly newsletter</p>
                    <div id="mc_embed_shell">
                <!--Mailchimp Form Starts-->
                  <div id="mc_embed_signup">
                      <form action="https://herokuapp.us9.list-manage.com/subscribe/post?u=5857b446bd1bcb566e63c5e86&amp;id=0c121d9613&amp;f_id=00fd25e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                          <div id="mc_embed_signup_scroll">
                              <div class="mc-field-group"><label for="mce-EMAIL">Email Address</label> <input type="email" name="EMAIL" id="mce-EMAIL" value=""></div>
                          <div id="mce-responses" class="clear foot">
                              <div class="response" id="mce-error-response" style="display: none;"></div>
                              <div class="response" id="mce-success-response" style="display: none;"></div>
                          </div>
                      <div aria-hidden="true" style="position: absolute; left: -5000px;">
                          /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                          <input type="text" name="b_5857b446bd1bcb566e63c5e86_0c121d9613" tabindex="-1" value="">
                      </div>
                          <div class="optionalParent">
                              <div class="clear foot">
                                  <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                              </div>
                          </div>
                      </div>
                  </form>
                  </div>
                <!--Mailchimp Ends-->                                                      
                </div>
            </div>
        </div>
</footer>