{% extends "base.html" %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
 <h1>{{ post.title }}</h1>
 <p class="date">
 Published {{ post.publish }} by {{ post.author }}
 </p>
 {{ post.body|linebreaks }}
 <div class="d-none d-md-block col-md-6 masthead-image">
    <!-- The featured image URL goes in the src attribute -->
    {% if "placeholder" in post.featured_image.url %}
    <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
    {% else %}
    <img src=" {{ post.featured_image.url }}" width="100%">
    {% endif %}
</div>
{% endblock %}