{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
{% block title %}
<h1>Share a post</h1>
{% endblock %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            {% if sent %}
                <h1>E-mail successfully sent</h1>
                <p>
                "{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.
                </p>
            {% else %}
                <h1>Share "{{ post.title }}" by e-mail</h1>
                <form method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input type="submit" value="Send e-mail">
                </form>
                {% endif %}
        </div>
    </div>
</div>
{% endblock %}






